In [5]:
from normal_methods import z_score, Normalizator
import numpy as np

In [6]:
ds = Normalizator(dataset="adult")
ds.df.describe()

/Users/matej/repos/Normalization-fixaction/normal_methods.py:65: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(cwd + separator + 'datasets' + separator + 'adult' + separator + 'adult.data', delimiter=', ', names=column_names, dtype=dtypes, index_col=False)

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
ds.normalize('pareto')

In [8]:
ds.df_norm.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04
mean,6.807831e-15,-3.403867e-14,-2.020776e-16,-5.581954e-14,-1.825642e-14,-1.347937e-16
std,3.693324e+00,3.248871e+02,1.603982e+00,8.593838e+01,2.007402e+01,3.513918e+00
min,-5.843511e+00,-5.463317e+02,-5.661420e+00,-1.253998e+01,-4.349162e+00,-1.122339e+01
25%,-2.865118e+00,-2.214692e+02,-6.737579e-01,-1.253998e+01,-4.349162e+00,-1.244943e-01
50%,-4.282514e-01,-3.515850e+01,-5.030016e-02,-1.253998e+01,-4.349162e+00,-1.244943e-01
75%,2.550141e+00,1.455071e+02,1.196615e+00,-1.253998e+01,-4.349162e+00,1.298441e+00
max,1.392219e+01,3.985836e+03,3.690446e+00,1.151091e+03,2.126510e+02,1.666614e+01